@import "normalize.css";

@font-face {
  font-family: Saira;
  font-weight: 700;
  font-style: normal;
  src: url("../../public/fonts/Saira/saira-bold.otf") format("opentype");
}
@font-face {
  font-family: Saira;
  font-weight: 500;
  font-style: normal;
  src: url("../../public/fonts/Saira/saira-medium.otf") format("opentype");
}
@font-face {
  font-family: Saira;
  font-weight: 400;
  font-style: normal;
  src: url("../../public/fonts/Saira/saira-regular.otf") format("opentype");
}

* {
  color: rgb(30, 10, 30);
  font-family: Saira, Arial, sans-serif;
  line-height: 1.5rem;
  box-sizing: border-box;
  scrollbar-width: 10px;
  scrollbar-color: pink gray;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: pink;
  border-radius: 5px;
  border: 1px solid gray;
}

html {
  overflow-x: hidden;
  padding: 0;
  padding-top: env("safe-area-inset-top");
  background-image: url("../../public/images/background.webp");
  background-size: cover;
  background-attachment: fixed;
  line-height: 1.3rem;
  background-position: right 90%;
  background-repeat: no-repeat;
  scroll-behavior: smooth;

  --primary-color: pink;
  --primary-color2: black;
  --primary-color3: hsla(10, 70%, 70%, 0.5);
  --primary-color4: rgba(255, 150, 150, 0.7);
  --primary-color5: rgba(255, 150, 150, 0.7);
  --primary-color6: rgba(0, 0, 0, 0.2);
  --box-shadow: 0 0 15px rgb(30, 10, 30);
  --box-shadow-h: 0 0 15px currentColor;
}

.green {
  background-image: url("../../public/images/background2.webp");
  background-position: left top;
  -webkit-filter: hue-rotate(120deg);
  filter: hue-rotate(120deg);
}

.green #pic1,
.green #pic2,
.green #pic3,
.green #pic4,
.green .out-container,
.green .sidebar3,
.green .sidebar3 > img:hover,
.green #cat,
.green input:required:invalid + label:after,
.green input:required:valid + label:after,
.green .scroll_img {
  -webkit-filter: hue-rotate(-120deg);
  filter: hue-rotate(-120deg);
}

.yellow {
  background-image: url("../../public/images/background3.webp");
  background-position: left top;
  -webkit-filter: hue-rotate(30deg);
  filter: hue-rotate(30deg);
}

.yellow #pic1,
.yellow #pic2,
.yellow #pic3,
.yellow #pic4,
.yellow .out-container,
.yellow .sidebar3,
.yellow .sidebar3 > image:hover,
.yellow #cat,
.yellow input:required:invalid + label:after,
.yellow input:required:valid + label:after,
.yellow .scroll_img {
  -webkit-filter: hue-rotate(-30deg);
  filter: hue-rotate(-30deg);
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: 13vw 74vw 13vw;
  width: 100%;
  margin: 0;
}

h1,
h2 {
  text-align: center;
  padding: 0.5rem;
  background: var(--primary-color, pink);
  -webkit-box-shadow: var(--box-shadow-h);
  box-shadow: var(--box-shadow-h);
  letter-spacing: 1px;
  font-size: clamp(20px, 3.6vw, 36px);
  line-height: 1.6rem;
  -webkit-transition: 0.5s 0.5s;
  -o-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
}

@media screen and (min-width: 450px) {
  h1,
  h2 {
    padding: 1.4rem;
  }
}

h1 {
  margin: 0;
}

label,
li {
  font-size: clamp(14px, 1.6vw, 20px);
}

ul {
  padding: 1rem;
}

a {
  text-decoration: none;
}

h1:hover,
h2:hover,
a:hover {
  color: var(--primary-color6, rgba(0, 0, 0, 0.2));
}

p,
li {
  text-indent: 1rem;
  font-size: clamp(20px, 1.8vw, 20px);
}

@media screen and (min-width: 700px) {
  p,
  li {
    text-indent: 2rem;
    font-size: clamp(14px, 1.6vw, 20px);
  }
}

::-moz-selection {
  background: rgba(225, 220, 220, 0.5);
}

::selection {
  background: rgba(225, 220, 220, 0.5);
}

button,
#bar,
.sidebar2 {
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

button:hover,
.sidebar2:hover {
  color: var(--primary-color, hotpink);
  -webkit-box-shadow: var(--box-shadow-h);
  box-shadow: var(--box-shadow-h);
}

button:active {
  background-color: pink;
  border: 2px solid transparent;
}

[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  border: 2px solid white;
  -webkit-box-shadow: 0 0 5px 1px var(--primary-color, pink);
  box-shadow: 0 0 5px 1px var(--primary-color, pink);
}

[type="radio"]:checked {
  background: var(--primary-color2, black);
}

[type="checkbox"] {
  -webkit-box-shadow: 0 0 5px 1px var(--primary-color, pink);
  box-shadow: 0 0 5px 1px var(--primary-color, pink);
}

#bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-row: 1;
  grid-column: 2/3;
  background: rgba(255, 150, 150, 0.6);
  z-index: 2;
}

.bar {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.8);
  line-height: 1.2rem;
  margin: 0.7rem auto;
  font-size: clamp(12px, 1.8vw, 18px);
  height: 2.4rem;
  border-right: 2px solid currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0.2rem;
  font-weight: bold;
  z-index: 500;
}

.bar:hover {
  border-right: 2px solid hsla(0, 0%, 100%, 0.8);
}

@media screen and (min-width: 300px) {
  .bar {
    font-size: clamp(14px, 1.6vw, 20px);
    line-height: 27px;
  }

  .bar:nth-last-child(1) {
    border-right: 0;
  }

  #sidebar1 {
    opacity: 0;
    grid-column: 1;
    grid-row: 1;
  }

  @media screen and (min-width: 450px) {
    #sidebar1 {
      opacity: 0;
    }
  }

  #sidebar2 {
    width: 13vw;
    height: 100vh;
    background-color: var(--primary-color6, rgba(0, 0, 0, 0.2));
    position: fixed;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column: 3;
    grid-row: 1/3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media screen and (min-width: 450px) {
    #sidebar2 {
      width: 7vw;
    }
  }

  .sidebar2 {
    width: 70%;
    height: auto;
    margin: 1rem auto;
    background-color: var(--primary-color3, hsla(10, 70%, 70%, 0.5));
    border: 0;
    text-align: center;
  }

  .sidebar2 > img {
    width: 70%;
    height: auto;
    margin: 10% 0 0;
  }

  #sidebar3 {
    display: none;
  }

  @supports (fill: black) {
    #sidebar3 {
      display: grid;
      grid-template-rows: 120px 70vh;
      grid-template-columns: 90px 45%;
      position: fixed;
      left: -100px;
      top: 30vh;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      z-index: 2;
    }

    #mode {
      background-color: var(--primary-color6, rgba(0, 0, 0, 0.2));
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    #mode button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      background: transparent;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin: 1.5vh auto;
      width: 11vw;
      height: 11vw;
    }

    @media (min-width: 500px) and (max-width: 700px) {
      #mode button {
        width: 8vw;
        height: 8vw;
      }
    }

    @media (min-width: 700px) and (max-width: 900px) {
      #mode button {
        width: 6vw;
        height: 6vw;
      }
    }

    @media (min-width: 900px) {
      #mode button {
        width: 4vw;
        height: 4vw;
      }
    }

    #mode button:hover {
      -webkit-filter: drop-shadow(var(--box-shadow-h));
      filter: drop-shadow(var(--box-shadow-h));
    }

    #mode button img {
      width: 100%;
      height: 100%;
    }

    #cat {
      grid-row: 1;
      grid-column: 1/3;
    }

    #cat {
      background-color: var(--primary-color6, rgba(0, 0, 0, 0.2));
      border-top-right-radius: 90%;
      border-bottom-right-radius: 50%;
    }

    #cat img {
      width: 100%;
    }
  }

  @supports (fill: black) and (transform: translateX(100px)) {
    #sidebar3:hover {
      -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
      transform: translateX(100px);
    }
  }

  @supports (fill: black) and (transform: translate3d(100px, 0, 0)) {
    #sidebar3:hover {
      -webkit-transform: translate3d(100px, 0, 0);
      transform: translate3d(100px, 0, 0);
    }
  }

  .content {
    grid-row: 2/3;
    grid-column: 2/3;
    background: var(--primary-color4, rgba(255, 150, 150, 0.7));
    padding: 0 0.5rem 0.5rem;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    z-index: 1;
  }

  @media screen and (min-width: 300px) {
    .content {
      padding: 0 1rem 2rem;
    }
  }

  @media screen and (min-width: 450px) {
    .content {
      padding: 0 2rem 2rem;
    }
  }

  #lofi {
    text-shadow: 0 0 10px hotpink;
  }

  #lab {
    opacity: 0.7;
  }

  .video {
    background: var(--primary-color, hotpink);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    width: 70%;
    margin: auto;
    border: none;
  }

  .out-container {
    width: 100%;
    margin: auto;
  }

  @media screen and (min-width: 700px) {
    .out-container {
      width: 70%;
    }
  }

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
  }

  @media screen and (min-width: 700px) {
    .pictures {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns:
        47.1%
        5%
        47.1%;
      width: 70%;
      gap: 5px;
    }
  }

  .pic1 {
    grid-column: 1/3;
  }

  .pic4 {
    grid-column: 2/4;
  }

  .pic1,
  .pic2,
  .pic3,
  .pic4 {
    margin: 0;
    position: relative;
    overflow: hidden;
  }

  #pic1,
  #pic2,
  #pic3,
  #pic4 {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .pictures figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3%;
    background: var(--primary-color5, rgba(255, 150, 150, 0.7));
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    opacity: 0;
    font-size: clamp(16px, 3.8vw, 16px);
    font-style: oblique;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  @media screen and (min-width: 700px) {
    .pictures figcaption {
      font-size: 10px;
      line-height: 12px;
    }
  }

  @media screen and (min-width: 900px) {
    .pictures figcaption {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .pictures figcaption:active,
  .pictures figcaption:focus {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }

  @media screen and (min-width: 700px) {
    .pictures figcaption:hover {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      opacity: 1;
    }
  }

  .scroll_pictures-container {
    position: relative;
    width: 100%;
  }

  .prev,
  .next {
    position: absolute;
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 24px;
    line-height: 24px;
    color: black;
    z-index: 2;
  }

  .prev {
    left: -27px;
  }

  .next {
    right: -27px;
  }

  .scroll_pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .prev,
  .next {
    display: none;
  }

  .scroll_item {
    margin: 0 8px;
    padding: 0;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    position: relative;
  }

  .scroll_item:nth-child(10) {
    margin-right: 0;
  }

  @supports (display: grid) {
    .scroll_pictures {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: auto;
    }
  }

  @supports (
    (-ms-scroll-snap-type: x mandatory) or (scroll-snap-type: x mandatory)
  ) {
    .scroll_pictures {
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
    }

    .scroll_item {
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }
  }

  .scroll_pictures figcaption {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--primary-color5, rgba(255, 150, 150, 0.7));
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    opacity: 0;
    font-size: 16px;
    font-style: oblique;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  @media screen and (min-width: 700px) {
    .scroll_pictures figcaption {
      font-size: 14px;
    }
  }

  @media screen and (min-width: 900px) {
    .scroll_pictures figcaption {
      font-size: 18px;
    }
  }

  .scroll_pictures figcaption:active,
  .scroll_pictures figcaption:focus {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }

  @media screen and (min-width: 700px) {
    .scroll_pictures figcaption:hover {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      opacity: 1;
    }
  }

  .scroll_img {
    height: 20vh;
  }

  @media screen and (min-width: 500px) {
    .scroll_img {
      height: 50vh;
    }
  }

  @media screen and (min-width: 700px) {
    .scroll_img {
      height: 10vh;
    }

    @media screen and (min-width: 700px) and (max-height: 900px) {
      .scroll_img {
        height: 30vh;
      }
    }

    @media screen and (min-width: 1000px) {
      .scroll_img {
        height: 25vh;
      }
    }

    @media screen and (min-width: 1600px) {
      .scroll_img {
        height: 30vh;
      }
    }
  }

  form {
    background: rgba(0, 0, 0, 0.14);
    padding: 2vw;
    margin: 5vh 0 0 0;
  }

  form h3 {
    margin: 1vh 0 0 0;
  }

  form input,
  form label {
    font-size: clamp(16px, 1.8vw, 18px);
  }

  fieldset {
    margin: 3vh 0 0 0;
    border: 3px solid var(--primary-color, pink);
  }

  fieldset legend {
    color: var(--primary-color, pink);
    border: 3px solid var(--primary-color, pink);
    width: 90%;
    margin: 0 auto;
    padding: 1vw 2vw;
  }

  @media screen and (min-width: 700px) {
    fieldset legend {
      font-size: 2vw;
    }
  }

  .form-Input_Wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 2vh 0;
    width: 100%;
  }

  .checkbox {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 10px;
    height: 10px;
    -webkit-transform: translate(-5px, 5px);
    -ms-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
  }

  .checkbox + label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox + label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 0.5rem;
    border: 1px solid var(--primary-color, pink);
    background: white;
  }

  .checkbox:hover + label::before {
    background: var(--primary-color, pink);
  }

  .checkbox:active + label::before {
    background: var(--primary-color, pink);
  }

  .checkbox:checked + label::before {
    background: var(--primary-color2, black);
  }

  .form-Slider_Wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media screen and (min-width: 700px) {
    .form-Slider_Wrapper {
      margin: 1vw 0;
    }
  }

  #howYouRateIt {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    height: 7px;
    outline: none;
    overflow: hidden;
    border: 2px solid var(--primary-color, pink);
  }

  #howYouRateIt::-webkit-slider-thumb {
    background: var(--primary-color1, pink);
    border: 2px solid var(--primary-color, pink);
    cursor: pointer;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    -webkit-box-shadow: -200px 0 0 200px var(--primary-color2, black);
    box-shadow: -200px 0 0 200px var(--primary-color2, black);
  }

  #howYouRateIt::-moz-range-thumb {
    background: 2px solid var(--primary-color, pink);
    border: 2px solid var(--primary-color, pink);
    height: 7px;
    box-shadow: -200px 0px 0px 200px var(--primary-color2, black);
    padding: 0px;
    margin: 0px;
  }

  #range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--primary-color2, black);
    color: pink;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 3px solid var(--primary-color, pink);
    margin-left: 2vw;
  }

  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: vertical;
    border: none;
    height: 11vh;
    min-height: 11vh;
    width: 97%;
    margin: 0 auto;
    padding: 0.5vh 1vw;
    outline: 3px solid var(--primary-color3);
    line-height: 1.5em;
    background: -o-linear-gradient(white 99.99%, transparent 99.99%),
      -o-linear-gradient(left, rgba(255, 255, 255, 0.7) 99.99%, transparent
            99.99%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(99.99%, white),
        color-stop(99.99%, transparent)
      ),
      -webkit-gradient(linear, left top, right top, color-stop(99.99%, rgba(255, 255, 255, 0.7)), color-stop(99.99%, transparent));
    background: linear-gradient(white 99.99%, transparent 99.99%),
      linear-gradient(
        to right,
        rgba(255, 255, 255, 0.7) 99.99%,
        transparent 99.99%
      );
    background-position: -100vw 0, 0 0;
    background-repeat: no-repeat, no-repeat;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    font-size: 1em;
  }

  textarea:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: 2px solid pink;
    background-position: 0 0, 0 0;
  }

  input:required + label {
    position: relative;
  }

  input:required + label:after {
    content: "*";
    font-size: 1.5em;
    position: absolute;
    margin: 0.1em;
  }

  input:required:invalid + label:after {
    color: red;
  }

  input:required:valid + label:after {
    color: green;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="url"],
  input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: 0px solid pink;
    width: 97%;
  }

  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="date"]:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: 2px solid pink;
  }

  .form-Submit_Btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    margin: 1em 0;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .form-Submit_Btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-filter: drop-shadow(var(--box-shadow-h));
    filter: drop-shadow(var(--box-shadow-h));
  }

  @media screen and (min-width: 700px) {
    .form-Submit_Btn {
      left: 0%;
      -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
      transform: translate(0%);
    }
  }

  .flipper {
    -webkit-perspective: 400px;
    perspective: 10000px;
    position: relative;
    width: 40vw;
    height: 44px;
    display: block;
  }

  @media screen and (min-width: 700px) {
    .flipper {
      width: 15vw;
    }
  }

  .flipper-object {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    left: 0;
  }

  .panel {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 44px;
    width: 100%;
    height: 100%;
    font-size: clamp(20px, 1.8vw, 20px);
  }

  .flipper-object .backpanel {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    background-color: var(--primary-color, pink);
  }

  .flipper-object .frontpanel {
    background-color: var(--primary-color, pink);
  }

  .form-Submit_Btn:hover .flipper-object,
  .form-Submit_Btn:focus .flipper-object {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-row: 3;
    grid-column: 1/4;
    padding: 20px;
  }

  .footer span {
    font-size: clamp(12px, 1vw, 20px);
    color: var(--primary-color3);
  }

  object {
    padding: 4px 6px 4px 4px;
  }

  @media screen and (min-width: 2100px) {
    .content {
      padding: 0 4em 2em;
    }

    p,
    label,
    a,
    li {
      font-size: clamp(16px, 1.6vw, 40px);
      line-height: 1.2em;
    }

    h1,
    h2 {
      font-size: clamp(16px, 3.6vw, 60px);
    }

    .o-js #form,
    .o-js button,
    .o-js #mode {
      display: none;
    }
  }
}
